body {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #555;

    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;


}

.calculator {
    background: #e0e5ec;
    border-radius: 20px;
    padding: 20px;
    box-shadow:
        10px 10px 20px rgba(163, 177, 198, 0.6),
        -10px -10px 20px rgba(255, 255, 255, 0.7);
}

.screen {
    background: #e0e5ec;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 34px;
    min-width: 260px;
    box-shadow:
        inset 5px 5px 10px rgba(163, 177, 198, 0.6),
        inset -5px -5px 10px rgba(255, 255, 255, 0.7);
    min-height: 70px;
    word-break: break-all;
}

.screen .history {
    font-size: 20px;
    color: #555;
    opacity: 0.7;
    text-align: right;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
}

.screen .current {
    text-align: right;
    word-break: break-all;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-auto-rows: 60px;
    gap: 10px;
    justify-content: center;
}

.btn {
    background: #e0e5ec;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    cursor: pointer;
    box-shadow:
        5px 5px 10px rgba(163, 177, 198, 0.6),
        -5px -5px 10px rgba(255, 255, 255, 0.7);
    transition: transform 0.1s;
}

.btn:active {
    transform: scale(0.95);
    box-shadow:
        inset 2px 2px 5px rgba(163, 177, 198, 0.6),
        inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.btn.operator {
    color: #4aa3f4;
}

.btn.equal {
    background: #4aa3f4;
    color: #fff;

    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.5);
    grid-column: 3 / 5;
    grid-row: 5;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow:
        5px 5px 15px rgba(74, 163, 244, 0.4),
        -5px -5px 15px rgba(74, 163, 244, 0.2);
}